.bz-layout {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    position: relative;
    background-image: url("./images/image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-y: scroll;

    &__container {
        width: 97%;
        margin: auto;
        border: 1px solid rgba(200, 150, 10, .35);
        background: linear-gradient(180deg, rgba(20, 16, 2, .9) 0%, transparent 100%);
        border-radius: 6px;
        padding: 15px;
    }

    &__bazar-tabs {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__bazar-tab {
        padding: 0px 15px;
        min-width: 140px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background: transparent;
        border: none;
        outline: none;
        position: relative;
        border-radius: 22px;
        background: linear-gradient(135deg, #181400, #120f00);
        border: 1px solid #604401;
        cursor: pointer;
        transition: 0.03s ease-in;

        &:active {
            transform: scale(0.96);
        }

        &.active {
            border: 1px solid #c8960a;
            color: #f5c518;
            box-shadow: 0 0 16px #c8960a73, 0 0 32px #c8960a33, inset 0 1px #f5c51826, inset 0 -1px #c8960a1a;
        }

    }

    &__bazar-tab-icon {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        object-fit: contain;
    }

    &__tab-title {
        font-size: 15px;
        color: #ddd381;
        font-weight: 550;
    }

    &__dynamic-outlet {
        width: 100%;
        height: 100%;
        min-height: 100vh;
        position: relative;
        padding: 20px 0px;
    }
}

@media screen and (max-width:768px) {

    .bz-layout {
        width: 100%;
        min-height: 100vh;
        max-height: 100vh;


        &__container {
            width: 99%;
            margin: auto;
            padding: 15px 8px;
        }

        &__bazar-tabs {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &__bazar-tab {
            padding: 0px 10px;
            min-width: 120px;
            height: 42px;
        }

        &__bazar-tab-icon {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            object-fit: contain;
        }

        &__tab-title {
            font-size: 13px;

        }

        &__dynamic-outlet {
            width: 100%;
            height: 100%;
            padding: 17px 0px;
        }
    }
}